/* FOOTER */
.container-footer{
    position: fixed;
    bottom:0;
    left:0;
    height: 200px;
    width: 100%;
    background-color: beige;
}
header{
    height: 10vh;
    width: auto;
    background-color: white;
}
header .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container-header i{
    font-size: 40px;
    color: yellow;
}
header .container-header :hover{
    
}