/* FOOTER */
.container-footer{
    
}
header{
    height: 10vh;
    width: auto;
    background-color: white;
}
header .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container-header{

}