/* FOOTER */
.container-footer{
    position: fixed;
    bottom:0;
    left:0;
    height: 350px;
    width: 100%;
    background-color: #4735e8;
}
.bloco-primario{
    height: 100px;
    background-color: #4735e8;
    width: 100%;
}
.bloco-central{
    height: 220px;
    width: 100%;
    background-color: white;
}

/* HEADER */
header{
    height: 13vh;
    width: auto;
    background-color: #4735e8;
}
header .container-header{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container-header i{
    font-size: 40px;
    color: yellow;
    padding-right:120px;
    transition: all 1.5s;
}
header .container-header :hover{
    color: rgb(202, 165, 0);

}

header a{
   border-radius: 50%;

}